<a href="https://colab.research.google.com/github/kdstheace/Python-Study/blob/main/Day0325_Pandas_PublicData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 공공데이터를 이용한 처리(서울시 공공데이터 자전거)

In [2]:
from pandas import DataFrame, Series
import pandas as pd
import numpy as np

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = 'drive/MyDrive/Colab Notebooks/data/'
data1 = '서울특별시 공공자전거 대여소 정보(19.12.9).xlsx'
data2 = '서울특별시 공공자전거 대여정보_201911_2.csv'

# mnist = pd.read_csv('sample_data/mnist_train_small.csv')
# mnist

In [10]:
place = pd.read_excel(path+data1)
place

     대여소_구   대여소ID              대여소명  ...          경도               기준시작일자   거치대수
0      마포구   101.0  101. (구)합정동 주민센터  ...  126.905754  2015-09-06 23:40:56      5
1      마포구   102.0   102. 망원역 1번출구 앞  ...  126.910629  2015-09-06 23:42:06     20
2      마포구   103.0   103. 망원역 2번출구 앞  ...  126.910835  2015-09-06 23:43:13     14
3      마포구   104.0   104. 합정역 1번출구 앞  ...  126.914986  2015-09-06 23:44:31     13
4      마포구   105.0   105. 합정역 5번출구 앞  ...  126.914825  2015-09-06 23:45:30      5
...    ...     ...               ...  ...         ...                  ...    ...
1536   관악구  2185.0           대학동 고시촌  ...  126.938652           2019.09.26     10
1537   서초구  2265.0   2265. 이수고가차도 남단  ...  126.983063  2017-08-09 11:16:28     10
1538   종로구   465.0       465. 삼청공원 앞  ...  126.983597           2019.11.20      5
1539   종로구   664.0        서울시립대 대학본부  ...  127.057938           2019.11.20     10
1540    합계     NaN              1540  ...         NaN                  NaN  19545

[1541 rows x 8 columns]

In [9]:
# null이 들어가 있는지 확인

대여소_구     0
대여소ID     1
대여소명      0
대여소주소     1
위도        1
경도        1
기준시작일자    1
거치대수      0
dtype: int64

In [23]:
#nan이 들어있는 컬럼 출력해보기
place[place['대여소ID'].isnull()]

Empty DataFrame
Columns: [대여소_구, 대여소ID, 대여소명, 대여소주소, 위도, 경도, 기준시작일자, 거치대수]
Index: []

In [15]:
#전처리 작업하기: NaN값 삭제하기
place = place.dropna()
place

     대여소_구   대여소ID              대여소명  ...          경도               기준시작일자  거치대수
0      마포구   101.0  101. (구)합정동 주민센터  ...  126.905754  2015-09-06 23:40:56     5
1      마포구   102.0   102. 망원역 1번출구 앞  ...  126.910629  2015-09-06 23:42:06    20
2      마포구   103.0   103. 망원역 2번출구 앞  ...  126.910835  2015-09-06 23:43:13    14
3      마포구   104.0   104. 합정역 1번출구 앞  ...  126.914986  2015-09-06 23:44:31    13
4      마포구   105.0   105. 합정역 5번출구 앞  ...  126.914825  2015-09-06 23:45:30     5
...    ...     ...               ...  ...         ...                  ...   ...
1535   종로구   464.0            삼청동 골목  ...  126.981697           2019.08.16    10
1536   관악구  2185.0           대학동 고시촌  ...  126.938652           2019.09.26    10
1537   서초구  2265.0   2265. 이수고가차도 남단  ...  126.983063  2017-08-09 11:16:28    10
1538   종로구   465.0       465. 삼청공원 앞  ...  126.983597           2019.11.20     5
1539   종로구   664.0        서울시립대 대학본부  ...  127.057938           2019.11.20    10

[1540 rows x 8 columns]

In [16]:
#대여소 ID의 데이터를 float64 -> int32로 변경하기대여소 ID의 데이터를 float64 -> int32로 변경하기
place['대여소ID'].dtypes

dtype('float64')

In [18]:
place = place.astype({'대여소ID' : np.int32})

In [27]:
rent = pd.read_csv(path + data2, encoding='cp949', delimiter=',') #data2들어있는 정보중 한글이 utf-8로 되어 있으면 못읽음. encoding을 cp-949로
rent

            자전거번호                 대여일시  대여 대여소번호  ... 반납거치대  이용시간     이용거리
0       SPB-04392  2019-11-28 23:07:06      2377  ...     5    11   1980.0
1       SPB-23502  2019-11-28 22:43:23      2613  ...     1    82  11130.0
2       SPB-11498  2019-11-29 00:04:35      1256  ...    14     6    800.0
3       SPB-16665  2019-11-29 00:02:57      1278  ...     2    18   3730.0
4       SPB-14688  2019-11-29 00:17:16      1230  ...     3     9   1370.0
...           ...                  ...       ...  ...   ...   ...      ...
678825  SPB-07983  2019-11-26 08:27:07      2183  ...     5    59   8520.0
678826  SPB-24906  2019-11-27 08:26:19      2141  ...     5    59   8680.0
678827  SPB-17861  2019-11-28 08:11:43      2183  ...     5    40  10570.0
678828  SPB-17173  2019-11-29 08:12:31      2183  ...     5    64  10560.0
678829  SPB-17714  2019-11-29 11:47:16     99999  ...     5    76   2420.0

[678830 rows x 11 columns]

In [30]:
# rent데이터에 null이 있는지 확인 후 존재하면 drop시킬 것.
rent.isnull().sum()

자전거번호       0
대여일시        0
대여 대여소번호    0
대여 대여소명     0
대여거치대       0
반납일시        0
반납대여소번호     0
반납대여소명      0
반납거치대       0
이용시간        0
이용거리        0
dtype: int64

In [32]:
# 대여소 정보 중 중복된 데이터를 처리
place['대여소_구'].unique()

array(['마포구', '서대문구', '영등포구', '중구', '종로구', '광진구', '성동구', '동대문구', '양천구',
       '용산구', '은평구', '강동구', '강서구', '송파구', '성북구', '중랑구', '강북구', '노원구',
       '도봉구', '금천구', '구로구', '동작구', '관악구', '서초구', '강남구'], dtype=object)

In [36]:
# 전체 대여소 구 갯수
print('대여소를 운영중인 지자체 수: ', len(place['대여소_구'].unique()))

대여소를 운영중인 지자체 수:  25

In [38]:
# 대여소 구별 평균 거치대 수: mean
place.groupby('대여소_구')['거치대수'].mean()

대여소_구
강남구     12.303030
강동구     13.385965
강북구     11.564103
강서구     11.788235
관악구     12.549020
광진구     14.254237
구로구     12.312500
금천구     12.444444
노원구     12.926471
도봉구     12.000000
동대문구    12.921569
동작구     12.219512
마포구     13.607595
서대문구    13.078431
서초구     13.786517
성동구     12.380952
성북구     12.517241
송파구     13.111111
양천구     12.309091
영등포구    14.044944
용산구     13.794872
은평구     11.365079
종로구     11.529412
중구      11.465116
중랑구     11.846154
Name: 거치대수, dtype: float64

In [47]:
#agg()를 이용해 통계 내기
mydata = place.groupby('대여소_구')
mydata['거치대수'].agg([np.sum, np.mean, np.amax, np.amin])

#[문제]3번 줄에서 출력된 정보중 sum칼럼의 값들을 기준으로 역순 정리해서 출력하자.
mydata['거치대수'].agg([np.sum, np.mean, np.amax, np.amin]).sort_values(by='sum', ascending=False)

        sum       mean  amax  amin
대여소_구
송파구    1298  13.111111    30     7
영등포구   1250  14.044944    40     6
서초구    1227  13.786517    25     7
강남구    1218  12.303030    30     5
마포구    1075  13.607595    40     5
강서구    1002  11.788235    25     6
노원구     879  12.926471    20     7
광진구     841  14.254237    40     5
구로구     788  12.312500    30     5
종로구     784  11.529412    21     5
성동구     780  12.380952    20     6
강동구     763  13.385965    20     7
성북구     726  12.517241    20     5
은평구     716  11.365079    20     5
양천구     677  12.309091    30     8
서대문구    667  13.078431    25     5
동대문구    659  12.921569    20     6
관악구     640  12.549020    25     7
중랑구     616  11.846154    20     8
금천구     560  12.444444    20     7
용산구     538  13.794872    40     7
동작구     501  12.219512    30     7
중구      493  11.465116    35     5
강북구     451  11.564103    20     8
도봉구     396  12.000000    20     8

In [49]:
#(대여소 정보merge대여정보) place테이블과 rent테이블 조인하기 id로
bicycle = pd.merge(place, rent, left_on='대여소ID', right_on='대여 대여소번호')
bicycle

       대여소_구  대여소ID              대여소명  ... 반납거치대  이용시간     이용거리
0        마포구    101  101. (구)합정동 주민센터  ...     1    81  63150.0
1        마포구    101  101. (구)합정동 주민센터  ...     5    40   8920.0
2        마포구    101  101. (구)합정동 주민센터  ...     5    42   8890.0
3        마포구    101  101. (구)합정동 주민센터  ...     6    36   8850.0
4        마포구    101  101. (구)합정동 주민센터  ...     7    98  13120.0
...      ...    ...               ...  ...   ...   ...      ...
677500   종로구    664        서울시립대 대학본부  ...     1    15   5060.0
677501   종로구    664        서울시립대 대학본부  ...     7    22   4450.0
677502   종로구    664        서울시립대 대학본부  ...     4    38   8790.0
677503   종로구    664        서울시립대 대학본부  ...    15   108  12550.0
677504   종로구    664        서울시립대 대학본부  ...    10    38   6540.0

[677505 rows x 19 columns]

In [61]:
#[문제]agg함수를 이용해 각 구별 평균 자전거 이용시간, 최대 이용거리, 최소 이동거리
#bicycle 이용
a = bicycle.groupby('대여소_구')['이용시간'].agg([np.mean])
b = bicycle.groupby('대여소_구')['이용거리'].agg([np.amax, np.amin])
print(a)
print(b)

            mean
대여소_구
강남구    23.382298
강동구    26.260650
강북구    19.494643
강서구    17.299746
관악구    20.469692
광진구    21.522678
구로구    19.570479
금천구    19.544569
노원구    20.382049
도봉구    20.758714
동대문구   22.714575
동작구    22.934526
마포구    44.869336
서대문구   31.755382
서초구    22.452883
성동구    31.316633
성북구    18.888129
송파구    22.488512
양천구    29.650766
영등포구   31.721189
용산구    41.099339
은평구    45.856749
종로구    28.761135
중구     37.877796
중랑구    18.764389
           amax  amin
대여소_구
강남구    100980.0   0.0
강동구     71170.0   0.0
강북구    111530.0   0.0
강서구    129700.0   0.0
관악구    185110.0   0.0
광진구    172320.0   0.0
구로구    155830.0   0.0
금천구     95250.0   0.0
노원구     79820.0   0.0
도봉구     81020.0   0.0
동대문구   129460.0   0.0
동작구    146850.0   0.0
마포구     80800.0   0.0
서대문구   125410.0   0.0
서초구    110390.0   0.0
성동구    126270.0   0.0
성북구    102500.0   0.0
송파구    109570.0   0.0
양천구     81170.0   0.0
영등포구   116390.0   0.0
용산구     97090.0   0.0
은평구     81870.0   0.0
종로구     79210.0   0.0
중구      81620.0   0.0
중랑구     98120.0   0.0