<a href="https://colab.research.google.com/github/kdstheace/Python-Study/blob/main/Day0323_Pandas_property.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas 속성 **
- .T            : Transpose
- .index
- .columns
- .values
- .describe()   : 통계볼 때
- .head(), .tail()
- .sort_values(by=컬럼명)

In [1]:
from pandas import Series, DataFrame
import numpy as np
import pandas as pd

In [3]:
dates = pd.date_range('20210301', periods = 10)
df = DataFrame(np.random.randn(10, 5), index=dates, columns=list('ABCDE'))
df

                   A         B         C         D         E
2021-03-01  1.074450  1.405596 -1.065145  1.554223  0.226932
2021-03-02 -0.883944  1.247335  0.425909  1.484130  0.360130
2021-03-03 -0.130351 -0.030870 -1.334111 -1.629802 -1.092585
2021-03-04  1.737398  0.818396 -1.081545 -0.326974 -0.982978
2021-03-05 -1.462756  0.206723 -1.849045 -0.850914 -0.455743
2021-03-06  0.836909 -0.616391 -0.245484 -1.187009  0.982993
2021-03-07 -0.491221  0.243957 -0.196266  0.105434 -1.739340
2021-03-08  2.197402 -0.572120 -1.080443  1.434305 -0.146111
2021-03-09 -0.152395 -0.877861 -0.496020  2.931522 -0.755494
2021-03-10  0.137355  0.464948 -1.197012  0.950242 -0.489474

In [4]:
df.describe()

               A          B          C          D          E
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean    0.286285   0.228971  -0.811916   0.446516  -0.409167
std     1.159683   0.779909   0.669778   1.456244   0.795682
min    -1.462756  -0.877861  -1.849045  -1.629802  -1.739340
25%    -0.406514  -0.436807  -1.168145  -0.719929  -0.926107
50%     0.003502   0.225340  -1.072794   0.527838  -0.472608
75%     1.015065   0.730034  -0.308118   1.471674   0.133671
max     2.197402   1.405596   0.425909   2.931522   0.982993

In [6]:
df.sort_values(axis=1, by='2021-03-03')
df.sort_values(axis=0, by='A')

                   A         B         C         D         E
2021-03-05 -1.462756  0.206723 -1.849045 -0.850914 -0.455743
2021-03-02 -0.883944  1.247335  0.425909  1.484130  0.360130
2021-03-07 -0.491221  0.243957 -0.196266  0.105434 -1.739340
2021-03-09 -0.152395 -0.877861 -0.496020  2.931522 -0.755494
2021-03-03 -0.130351 -0.030870 -1.334111 -1.629802 -1.092585
2021-03-10  0.137355  0.464948 -1.197012  0.950242 -0.489474
2021-03-06  0.836909 -0.616391 -0.245484 -1.187009  0.982993
2021-03-01  1.074450  1.405596 -1.065145  1.554223  0.226932
2021-03-04  1.737398  0.818396 -1.081545 -0.326974 -0.982978
2021-03-08  2.197402 -0.572120 -1.080443  1.434305 -0.146111